In [1]:
import sqlite3
import pandas as pd
import numpy

In [19]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. 
#Remember that there's a different cost for guests and members! 

query = '''
SELECT f.name AS facility_name, 
SUM(CASE WHEN b.memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS revenue 
FROM Bookings AS b 
LEFT JOIN Facilities AS f 
ON b.facid = f.facid 
LEFT JOIN Members AS m 
ON b.memid = m.memid 
GROUP BY b.facid 
HAVING revenue <1000 ORDER BY revenue;
'''

df = pd.read_sql_query(query, conn)
print(df)

conn.close()

   facility_name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

In [17]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


query = '''
SELECT m1.firstname || ' ' || m1.surname AS member_name, 
m2.firstname || ' ' || m2.surname AS referrer_name 
FROM Members m1 INNER JOIN Members m2 
ON m1.recommendedby = m2.memid WHERE m1.recommendedby > 0 ORDER BY member_name;
'''

df = pd.read_sql_query(query, conn)
print(df)

conn.close()

                member_name      referrer_name
0            Anna Mackenzie       Darren Smith
1                Anne Baker    Ponder Stibbons
2              Charles Owen       Darren Smith
3               David Jones    Janice Joplette
4              David Pinker     Jemima Farrell
5             Douglas Jones        David Jones
6             Erica Crumpet        Tracy Smith
7            Florence Bader    Ponder Stibbons
8            Gerald Butters       Darren Smith
9          Henrietta Rumney    Matthew Genting
10  Henry Worthington-Smyth        Tracy Smith
11               Jack Smith       Darren Smith
12          Janice Joplette       Darren Smith
13              Joan Coplin      Timothy Baker
14                John Hunt  Millicent Purview
15          Matthew Genting     Gerald Butters
16        Millicent Purview        Tracy Smith
17               Nancy Dare    Janice Joplette
18          Ponder Stibbons       Burton Tracy
19         Ramnaresh Sarwin     Florence Bader
20               Tim Boothe         Tim Rownam
21            Timothy Baker     Jemima Farrell

In [10]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q12: Find the facilities with their usage by member, but not guests */


query ='''
SELECT f.name AS facility, SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END) AS booking_amount_by_members, 
SUM(CASE WHEN b.memid != 0 THEN 100 ELSE 0 END)/COUNT(b.bookid) AS member_booking_percentage 
FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid 
GROUP BY b.facid ORDER BY member_booking_percentage DESC;
'''
df = pd.read_sql_query(query, conn)
print(df)

conn.close()

          facility  booking_amount_by_members  member_booking_percentage
0     Table Tennis                        385                         95
1    Snooker Table                        421                         94
2       Pool Table                        783                         93
3  Badminton Court                        344                         89
4   Tennis Court 1                        308                         75
5   Tennis Court 2                        276                         70
6   Massage Room 1                        421                         66
7     Squash Court                        195                         44
8   Massage Room 2                         27                         24

In [16]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q13: Find the facilities usage by month, but not guests */


query = '''
SELECT f.name AS facility, strftime("%Y-%m", starttime) AS month_year, 
SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END) AS booking_by_members, 
SUM(CASE WHEN b.memid != 0 THEN 100 ELSE 0 END) / COUNT(b.bookid) AS member_booking_percent 
FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid GROUP BY b.facid, month_year;
'''

df = pd.read_sql_query(query, conn)
print(df)

conn.close()

           facility month_year  booking_by_members  member_booking_percent
0    Tennis Court 1    2012-07                  65                      73
1    Tennis Court 1    2012-08                 111                      76
2    Tennis Court 1    2012-09                 132                      75
3    Tennis Court 2    2012-07                  41                      60
4    Tennis Court 2    2012-08                 109                      73
5    Tennis Court 2    2012-09                 126                      73
6   Badminton Court    2012-07                  51                      91
7   Badminton Court    2012-08                 132                      90
8   Badminton Court    2012-09                 161                      88
9      Table Tennis    2012-07                  48                      94
10     Table Tennis    2012-08                 143                      97
11     Table Tennis    2012-09                 194                      94
12   Massage Room 1    2012-07                  77                      62
13   Massage Room 1    2012-08                 153                      68
14   Massage Room 1    2012-09                 191                      67
15   Massage Room 2    2012-07                   4                      33
16   Massage Room 2    2012-08                   9                      22
17   Massage Room 2    2012-09                  14                      23
18     Squash Court    2012-07                  23                      30
19     Squash Court    2012-08                  85                      50
20     Squash Court    2012-09                  87                      44
21    Snooker Table    2012-07                  68                      90
22    Snooker Table    2012-08                 154                      96
23    Snooker Table    2012-09                 199                      94
24       Pool Table    2012-07                 103                      93
25       Pool Table    2012-08                 272                      93
26       Pool Table    2012-09                 408                      93