In [1]:
import sqlite3
import pandas as pd
import numpy

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. 
#Remember that there's a different cost for guests and members! 

query = "SELECT f.name AS facility_name, SUM(CASE WHEN b.memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS revenue FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid LEFT JOIN Members AS m ON b.memid = m.memid GROUP BY b.facid HAVING revenue <1000 ORDER BY revenue;"
df = pd.read_sql_query(query, conn)
print(df)

conn.close()

   facility_name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

In [3]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


query = "SELECT m1.firstname || ' ' || m1.surname AS member_name, m2.firstname || ' ' || m2.surname AS referrer_name FROM Members m1 INNER JOIN Members m2 ON m1.recommendedby = m2.memid WHERE m1.recommendedby > 0 ORDER BY member_name;"

df = pd.read_sql_query(query, conn)
print(df)

conn.close()

                member_name      referrer_name
0            Anna Mackenzie       Darren Smith
1                Anne Baker    Ponder Stibbons
2              Charles Owen       Darren Smith
3               David Jones    Janice Joplette
4              David Pinker     Jemima Farrell
5             Douglas Jones        David Jones
6             Erica Crumpet        Tracy Smith
7            Florence Bader    Ponder Stibbons
8            Gerald Butters       Darren Smith
9          Henrietta Rumney    Matthew Genting
10  Henry Worthington-Smyth        Tracy Smith
11               Jack Smith       Darren Smith
12          Janice Joplette       Darren Smith
13              Joan Coplin      Timothy Baker
14                John Hunt  Millicent Purview
15          Matthew Genting     Gerald Butters
16        Millicent Purview        Tracy Smith
17               Nancy Dare    Janice Joplette
18          Ponder Stibbons       Burton Tracy
19         Ramnaresh Sarwin     Florence Bader
20               Tim Boothe         Tim Rownam
21            Timothy Baker     Jemima Farrell

In [4]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q12: Find the facilities with their usage by member, but not guests */


query ='SELECT f.name AS facility, SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END) AS booking_amount_by_members, ROUND(SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END)/COUNT(b.bookid) * 100, 2) AS member_booking_percentage FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid GROUP BY b.facid ORDER BY member_booking_percentage DESC;'

df = pd.read_sql_query(query, conn)
print(df)

conn.close()

          facility  booking_amount_by_members  member_booking_percentage
0       Pool Table                        783                        0.0
1    Snooker Table                        421                        0.0
2     Squash Court                        195                        0.0
3   Massage Room 2                         27                        0.0
4   Massage Room 1                        421                        0.0
5     Table Tennis                        385                        0.0
6  Badminton Court                        344                        0.0
7   Tennis Court 2                        276                        0.0
8   Tennis Court 1                        308                        0.0

In [5]:
# Connect to the SQLite database
conn = sqlite3.connect('/Users/Ruizhen/Desktop/Springboard/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

#Q13: Find the facilities usage by month, but not guests */


query = 'SELECT f.name AS facility, DATE_FORMAT(starttime, '%Y-%m') AS month_year, SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END) AS booking_amount_by_members, ROUND((SUM(CASE WHEN b.memid != 0 THEN 1 ELSE 0 END) / COUNT(b.bookid)) * 100, 2) AS members_booking_percentage FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid GROUP BY b.facid, month_year;'
df = pd.read_sql_query(query, conn)
print(df)

conn.close()

SyntaxError: invalid syntax (1711382226.py, line 7)